@import url('source-sans-pro.css');

:root {
    --cool-blue: #1e88e5;
    --cool-red: #ff0d57;
    --hover-opacity: 0.75;
}

html::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

#outer {
    margin: auto;
    margin-top: 50px;
    padding: 4px;
    width: 910px;
    height: 585px;
    border: 2px solid #717c75;
    border-radius: 3px;
}

#inner {
    border: 1px solid #2f3c35;
    border-radius: 1px;
    height: 100%;
}

#left {
    float: left;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

#navbar {
    position: relative;
}

#query {
    width: 100%;
    font-size: 17px;
    padding: 5px;
    height: 30px;
    border: 0px;
    background: #2f3c35; /*#313437*/
    color: #E7F3FD;
}

#results {
    flex: auto;
    overflow-y: scroll;
}

#right {
    float: left;
    width: 60%;
    height: 100%;
    position: relative;
    border-left: 1px solid #2f3c35;
}

#output {
    background: #070908;
    overflow-y: scroll;
    margin: 0px;
    padding: 40px;
    height: 100%;
}

#head {
    margin-bottom: 20px;
    line-height: 1.5;
}

#body {
    flex: auto;
    white-space: pre-wrap;
    min-height: 420px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    border: 0;
    outline: 0;
    margin-bottom: 0px;
    padding-bottom: 40px;
    resize: none;
}

#title {
    font-weight: bold;
    width: 100%;
}

#tags {
    margin-left: 6px;
}

#results::-webkit-scrollbar {
    display: none;
}

#output::-webkit-scrollbar {
    display: none;
}

#results {
    scrollbar-width: none;
    cursor: default;
}

#output {
    scrollbar-width: none;
}

.res_box {
    position: relative;
    width: 100%;
    padding: 5px 0px 5px 5px;
}

.res_box:last-child {
    border-bottom: 0px;
}

.res_box.selected {
    background-color: #717c75; /*#4284F2*/
    color: white;
}

.res_title {
    margin-right: 3px;
    min-height: 20px;
    width: 100%;
    font-weight: bold;
}

.res_match {
    white-space: nowrap;
    overflow-x: hidden;
}

.tag_box {
    cursor: default;
    margin-right: 3px;
    margin-left: 0px;
    color: white;
    white-space: nowrap;
    background-color: var(--cool-blue);
    border-radius: 4px;
}

.tag_box:hover {
    opacity: var(--hover-opacity);
}

.tag_lab {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.tag_del {
}

.tag_del > img {
    height: 9px;
    width: 9px;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 5px;
}

.tag_box.selected {
    background-color: blue;
}

#delbox {
    visibility: hidden;
    cursor: default;
    background-color: var(--cool-blue);
    border-radius: 3px;
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 15px;
    font-weight: bold;
    height: 17px;
    width: 17px;
}

#delbox:hover {
    opacity: var(--hover-opacity);
}

#delbox > img {
    width: 17px;
    height: 17px;
    padding: 3px;
}

#fuzzy.active.editing #delbox {
    visibility: visible;
}

#fuzzy.modified #delbox {
    background-color: red;
}

#newdoc {
    visibility: hidden;
    cursor: default;
    background-color: var(--cool-blue);
    border-radius: 3px;
    position: absolute;
    right: 6px;
    top: 6px;
    height: 17px;
    width: 17px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

#newdoc:hover {
    opacity: var(--hover-opacity);
}

#newdoc > img {
    width: 17px;
    height: 17px;
    padding: 3px;
}

#fuzzy.editing #newdoc {
    visibility: visible;
}

/* match */

#output .match {
    color: var(--cool-red);
}

#results .match {
    color: var(--cool-red);
}
