:root {
    --bg-color: #212121;
    --fg-color: #F7F3FD;
}

html, input {
    font-family: monospace;
}

body, #results, #output, #body {
    background-color: var(--bg-color);
    color: var(--fg-color);
}

#title::selection, #body::selection, .match::selection {
    background-color: #444;
}

#tags::selection {
    background-color: var(--bg-color);
}

.tag_lab::selection {
    background-color: rgba(0.25, 0.25, 0.25, 0.5);
}

#results {
    font-size: 12px;
}

#output {
    font-size: 14px;
}

/* supermax */

body {
    margin: 0;
}

#outer {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#inner {
    border: 0;
}

#left {
    width: 30%;
}

#right {
    width: 70%;
}
